<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/home.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <button id="submit-poll-btn">Submit a poll</button>
  <section id="create-poll">
    <form action="/poll" method="POST">
      <input type="email" placeholder="Email" name="email" required>
      <input type="text" placeholder="Poll Title" required>
      <input type="text" placeholder="Question Title" required>
      <div class="option">
        <input type="text" placeholder="Option 1" required>
        <i class="fa-solid fa-plus"></i>
      </div>
      <button type="submit">Send Poll!</button>
    </form>
  </section>
</body>

</html>
