main.results {
  text-align: center;
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  ol {
    list-style-position: inside;
    padding-left: 0;
    font-size: 1.5rem;
    li {
      padding: 0.25em;
    }
  }
}
